/* Colors */

:root {
  --primary: #FFFFFF;
  --secondary: #F0F4FF;
  --tertiary: #B5B4D0;
  --quaternary: #7F7E9A;

  --black: #000000;
  --shadow: rgba(0, 0, 0, 0.301);
  --text: #000000;
  --dark-purple-text: #4F4E78;
  --handle-text: #8483C0;
  --follower-text: #4F4E78;

  --accent: #FCCC85;
  --alarm: #FC8585;
  --actions: #C61010;
  --successes: #0F8831;

  --defaultTransition: .2s ease;
}

.bg-primary {background-color: var(--primary)}
.bg-secondary {background-color: var(--secondary)}
.bg-tertiary {background-color: var(--tertiary)}
.bg-quaternary {background-color: var(--quaternary)}
.bg-black {background-color: var(--black)}
.bg-accent {background-color: var(--accent)}
.bg-alarm {background-color: var(--alarm)}
.bg-actions {background-color: var(--actions)}
.bg-successes {background-color: var(--successes)}

.primary {color: var(--primary)}
.secondary {color: var(--secondary)}
.tertiary {color: var(--tertiary)}
.quaternary {color: var(--quaternary)}
.black {color: var(--black)}
.accent {color: var(--accent)}
.alarm {color: var(--alarm)}
.actions {color: var(--actions)}
.successes {color: var(--successes)}
.dark-purple-text {color: var(--dark-purple-text)}
.handle-text {color: var(--handle-text)}
.follower-text {color: var(--follower-text)}

/* Utilities */

.flex {
  display: flex;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

/* Default Styling */

body {
  background-color: var(--primary);
  color: var(--text);
}

.container {
  width: min(100ch, 100%);
  margin-inline: auto;
}

.defaultButton {
  padding: 0rem 1rem;
  font-weight: bold;

  border-radius: 20px;
  border: none;

  cursor: pointer;

  transition: var(--defaultTransition);
}

.defaultButton:hover {
  filter: brightness(1.1);
  transition: var(--defaultTransition);
}

/* Post Styling */

.post * {
  margin: 0;
}

.post {
  width: 100%;
 
  box-sizing: border-box;
}

.postContainer {
  box-shadow: 0 0 3px var(--shadow);
  border-radius: 10px 10px 0px 0px;
}

.postContent {
  background-color: var(--secondary);
  border-radius: 10px 10px 0px 0px;
  padding: 1rem;
}

.postActions {
  background-color: var(--tertiary);
}

.reactionEmojis {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.reactionEmoji {
  width: 2rem;
  margin-right: .5rem;
  cursor: pointer;
  transition: var(--defaultTransition);
}

.reactionEmoji:hover {
  transform: scale(1.2);
  transition: var(--defaultTransition);
}

.post hr {
  background-color: var(--shadow);
}

.commentAction {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
}

.commentInput {
  height: 1.5rem;
  padding: .3rem;

  flex-grow: 1;
}

.commentAction button {
  margin-left: 1rem;
}

.commentTree {
  outline: 1px solid rgba(0, 0, 0, .5);
  outline-offset: -1px;
}

.comment {
  background-color: var(--secondary);
  padding: .5rem;
  outline: 1px solid rgba(0, 0, 0, .5);
  outline-offset: -1px;
}

/* Profile */

.profileIcon {
  margin: 0;
  width: 15%;
}

#profileSVG {
  width: 80%;
}

#profilePage h4 {
  margin: 0;
}

#profilePage h3 {
  margin-top: 0;
}